{% extends 'base.html.twig' %}

{% block title %}free{% endblock %}

{% block body %}

{{ include('header.html') }}

{# BANNER PART---------------------------- #}

<div id="freeBanner"></div>

<div class="freeBannerText">
    <h2>Vos sorties gratuites</h2>
    <div class="greenLine"></div>

    <p>
        Où sortir gratuitement en Dordogne Périgord quelle que soit la saison ? Nous vous proposons un large panorama d'idées de sorties gratuites toute l'année dans le 24...
    </p>
</div>


{% for event in events %}

    <article>
        <div class="image">
            <img src="{{ asset('upload_directory/' ~event.image) }}" alt="image de l'évènement">
            <p> Prix : {{ event.price }} €</p>
        </div>

        <div class="description">
            <h3>{{ event.name }}</h3>
            {% if event.fixed == 0 %}
                <p>Evènement temporaire</p>
                {% else %}
                <p>Evènement fixe</p>
            {% endif %}
            <p>{{ event.eventDate|date("d/m/Y", "Europe/Paris") }}</p>
            <p><span>Durée de la sortie :</span> {{ event.duration }} heures</p>
            {{ event.enterpriseName }}
            <p><span>Description :</span> {{ event.description }}</p>
            <p><span>Localité :</span> {{ event.locality }}</p>
            <p>{{ event.link }}</p>
            <p>{{ event.type }}</p>
        </div>

    </article>

        {# PARTIE CRUD AVEC VERIFICATION DE L'UTILISATEUR #}
    {% if app.user == event.user or is_granted('ROLE_ADMIN') %}
        <form action="{{ path('app_deleteEvent',{id:event.id})}}" method='POST'>

        <input type="hidden" name="token" value="{{csrf_token('delete-event')}}">
        <button type="submit">Supprimer</button>
        
        </form>

        <div class="modify"><a href="{{path('app_editEvent', {id:event.id})}}">Editer</a></div>
    {% endif %}
    <div class="blueLine"></div>
{% endfor %}

{{ include('footer.html') }}


{% endblock %}