{% extends 'base.html.twig' %}

{% block title %}free{% endblock %}

{% block body %}

{{ include('header.html') }}

{# BANNER PART---------------------------- #}

<div id="freeBanner"></div>

<div class="freeBannerText">
    <h2>Vos sorties gratuites</h2>
    <div class="greenLine"></div>

    <p>
        Où sortir gratuitement en Dordogne Périgord quelle que soit la saison ? Nous vous proposons un large panorama d'idées de sorties gratuites toute l'année dans le 24...
    </p>
</div>


{% for event in events %}

    <article>
        <div class="image">
            <img src="{{ asset('upload_directory/' ~event.image) }}" alt="image de l'évènement">
            <p> Prix : {{ event.price }} €</p>
        </div>

        <div class="description">
            {{ event.name }}
            {# {{ event.fixed }} #}
            <p>{{ event.eventDate|date("d/m/Y", "Europe/Paris") }}</p>
            <p>Durée de la sortie : {{ event.duration }} heures</p>
            {{ event.enterpriseName }}
            <p>Description : {{ event.description }}</p>
            <p>Localité : {{ event.locality }}</p>
            {# {{ event.image }} #}
            {# <p><img src="{{ asset('upload_directory/' ~event.image) }}" alt="image de l'évènement"></p> #}
            <p>{{ event.link }}</p>
            <p>{{ event.type }}</p>
        </div>

    </article>
    <div class="blueLine"></div>
{% endfor %}

{{ include('footer.html') }}


{% endblock %}