{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

{{ include('header.html') }}

{# BANNER PART---------------------------- #}

{# MESSAGE FLASH #}
{% for message in app.flashes('success') %}
    <div>{{ message }}</div>
{% endfor %}


<div id="mainBanner"></div>
<div class="mainBannerText">
        <h2>Guide des sorties à Périgueux et en Dordogne</h2>
        <div class="greenLine"></div>

        <p>Notre site vous propose un panorama très large d'idées de sorties à Périgueux ou de sorties en Dordogne. Notre site est un des plus complets en matière d'actualité culturelle à Périgueux car nous sommes en permanence à la recherche d'évènements à vous faire partager. Vous trouverez sur nos pages des annonces de concerts, d'expositions, de pièces de théâtre, defestivals et de toutes sortes d'évènements.</p>
</div>

{# ---------------------------------MAIN PART------------------------ #}

<div class="lastEvent">
    <h1>Les sorties du moment</h1>
    <div class="blueLine"></div>
</div>

{% for event in events %}

    <article>
        <div class="image">
            <img src="{{ asset('upload_directory/' ~event.image) }}" alt="image de l'évènement">
            <p>Prix : {{ event.price }} €</p>
        </div>

        <div class="description">
            <h3>{{ event.name }}</h3>
            {# {{ event.fixed }} #}
            <p>{{ event.eventDate|date("d/m/Y", "Europe/Paris") }}</p>
            <p><span>Durée de la sortie :</span> {{ event.duration }} heures</p>
            {{ event.enterpriseName }}
            <p><span>Description :</span> {{ event.description }}</p>
            <p><span>Localité :</span> {{ event.locality }}</p>

            <p>{{ event.link }}</p>
            <p>{{ event.type }}</p>
        </div>

    </article>

    {# PARTIE CRUD AVEC VERIFICATION DE L'UTILISATEUR #}
    {% if app.user == event.user or is_granted('ROLE_ADMIN') %}
        <form action="{{ path('app_deleteEvent',{id:event.id})}}" method='POST'>

        <input type="hidden" name="token" value="{{csrf_token('delete-event')}}">
        <button type="submit">Supprimer</button>
        
        </form>

        <a href="{{path('app_editEvent', {id:event.id})}}">Editer</a>
    {% endif %}


    <div class="blueLine"></div>


{% endfor %}

{{ include('footer.html') }}


{% endblock %}
