{% extends 'base.html.twig' %}

{% block title %}kids{% endblock %}

{% block body %}

{{ include('header.html') }}

{# BANNER PART---------------------------- #}

<div id="kidsBanner"></div>

<div class="kidsBannerText">
    <h2>Jeune public</h2>
    <div class="greenLine"></div>

    <p>
        Vous cherchez des activités adaptées à vos enfants quelque soit leurs âges ? Nous recensons pour vous les meilleures endroits pour petits et grand !
    </p>
</div>


{% for kid in kids %}
    {% if kid.type.id == 5 %}
    
        <article>
            <div class="image">
                <img src="{{ asset('upload_directory/' ~kid.image) }}" alt="image de l'évènement">
                <p>Prix : {{ kid.price }} €</p>
            </div>

            <div class="description">
                <h3>{{ kid.name }}</h3>
                {% if kid.fixed == 0 %}
                    <p>Evènement temporaire</p>
                    {% else %}
                    <p>Evènement fixe</p>
                {% endif %}
                <p>{{ kid.eventDate | format_datetime(locale='fr',pattern='dd MMMM YYYY') }}</p>
                <p><span>Durée de la sortie</span> {{ kid.duration }} heures</p>
                <p>{{ kid.enterpriseName }}</p>
                <p><span>Description :</span> {{ kid.description }}</p>
                <p><span>Localité :</span> {{ kid.locality }}</p>
                <p>{{ kid.link }}</p>
                <p>{{ kid.type }}</p>
            </div>

        </article>

                {# PARTIE CRUD AVEC VERIFICATION DE L'UTILISATEUR #}
        {% if app.user == kid.user or is_granted('ROLE_ADMIN') %}
            <form action="{{ path('app_deleteEvent',{id:kid.id})}}" method='POST'>

            <input type="hidden" name="token" value="{{csrf_token('delete-event')}}">
            <button type="submit">Supprimer</button>
            
            </form>

            <div class="modify"><a href="{{path('app_editEvent', {id:kid.id})}}">Editer</a></div>
        {% endif %}

        <div class="blueLine"></div>
    {% endif %}
{% endfor %}

{{ include('footer.html') }}


{% endblock %}