{% extends 'base.html.twig' %}

{% block title %}party{% endblock %}

{% block body %}

{{ include('header.html') }}

{# BANNER PART---------------------------- #}

<div id="partyBanner"></div>

<div class="partyBannerText">
    <h2>Vos sorties festives</h2>
    <div class="greenLine"></div>

    <p>
        Vous cherchez un endroit sympa simplement pour boire un verre ? Peut être avez vous envie de danser toute la nuit dans un festival local ? Nous recensons ici pour vous toutes les fête de périgueux et ses alentours.
    </p>
</div>

{% for party in parties %}
    {% if party.type.id == 9 %}

        <article>
            <div class="image">
                <img src="{{ asset('upload_directory/' ~party.image) }}" alt="image de l'évènement">
                <p>Prix : {{ party.price }} €</p>
            </div>

            <div class="description">
                <h3>{{ party.name }}</h3>
                {% if party.fixed == 0 %}
                    <p>Evènement temporaire</p>
                    {% else %}
                    <p>Evènement fixe</p>
                {% endif %}
                <p>{{ party.eventDate|date("d/m/Y", "Europe/Paris") }}</p>
                <p><span>Durée de la sortie :</span> {{ party.duration }} heures</p>
                {{ party.enterpriseName }}
                <p><span>Description :</span> {{ party.description }}</p>
                <p><span>Localité :</span> {{ party.locality }}</p>
                <p>{{ party.link }}</p>
                <p>{{ party.type }}</p>
            </div>

        </article>

            {# PARTIE CRUD AVEC VERIFICATION DE L'UTILISATEUR #}
    {% if app.user == party.user or is_granted('ROLE_ADMIN') %}
        <form action="{{ path('app_deleteEvent',{id:party.id})}}" method='POST'>

        <input type="hidden" name="token" value="{{csrf_token('delete-event')}}">
        <button type="submit">Supprimer</button>
        
        </form>

        <div class="modify"><a href="{{path('app_editEvent', {id:party.id})}}">Editer</a></div>
    {% endif %}
        <div class="blueLine"></div>
    {% endif %}
{% endfor %}


{{ include('footer.html') }}


{% endblock %}