{% extends 'base.html.twig' %}

{% block title %}sport{% endblock %}

{% block body %}

{{ include('header.html') }}

{# BANNER PART---------------------------- #}

<div id="sportBanner"></div>

<div class="sportBannerText">
    <h2>Vos sorties sportives</h2>
    <div class="greenLine"></div>

    <p>
        A Périgueux et tout autour, les sportifs aussi trouveront leur bonheur : accrobranche, canoë, golf... et plus encore à découvrir.
    </p>
</div>

{% for sport in sports %}
    {% if sport.type.id == 8 %}

        <article>
            <div class="image">
                <img src="{{ asset('upload_directory/' ~sport.image) }}" alt="image de l'évènement">
                <p>Prix : {{ sport.price }} €</p>
            </div>

            <div class="description">
                <h3>{{ sport.name }}</h3>
                {# {{ event.fixed }} #}
                <p>{{ sport.eventDate|date("d/m/Y", "Europe/Paris") }}</p>
                <p><span>Durée de la sortie :</span> {{ sport.duration }} heures</p>
                {{ sport.enterpriseName }}
                <p><span>Description :</span> {{ sport.description }}</p>
                <p><span>Localité :</span> {{ sport.locality }}</p>
                <p>{{ sport.link }}</p>
                <p>{{ sport.type }}</p>
            </div>

        </article>

            {# PARTIE CRUD AVEC VERIFICATION DE L'UTILISATEUR #}
    {% if app.user == sport.user or is_granted('ROLE_ADMIN') %}
        <form action="{{ path('app_deleteEvent',{id:sport.id})}}" method='POST'>

        <input type="hidden" name="token" value="{{csrf_token('delete-event')}}">
        <button type="submit">Supprimer</button>
        
        </form>

        <a href="{{path('app_editEvent', {id:sport.id})}}">Editer</a>
    {% endif %}
        <div class="blueLine"></div>
    {% endif %}
{% endfor %}


{{ include('footer.html') }}


{% endblock %}