{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

{# ----------------------HEADER PART---------------------------------- #}

{# TITLE PART------------------ #}

<div id="titleNav">
    <h1><a href="{{ path('app_home') }}"> Bouger à Périgueux</a></h1>
</div>

<div id="registerFormContainer">
    
    <div class='registerForm'>
        <h1>Inscription</h1>
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.image) }}
            {{ form_row(registrationForm.agreeTerms) }}
        
        {{ form_end(registrationForm) }}
    </div>
</div>


{{ include('footer.html') }}
{% endblock %}
